<div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">Lockout</h4>
    <p>You are locked out of account</p>
    <hr>
    <p class="mb-0">Please try again in a couple of minutes.</p>
</div>