@using IdentityCore.Data.Enum;
@using IdentityCore.ViewModels
@model RegisterViewModel

<h1 class="text-info">Register</h1>
<form asp-controller="Account" asp-action="Register" method="post" role="form">
    <h4>Create a new account</h4>
    <hr />    
    <div asp-validation-summary="All" class="text-danger"></div>
    @*UserName*@
    <div class="row mb-3">
        <label asp-for="UserName" class="col-sm-2 col-form-label">Username</label>
        <div class="col-sm-10">            
            <input asp-for="UserName" class="form-control" id="autoSizingInputGroup" placeholder="Username">
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
    </div>
    @*Email*@
    <div class="row mb-3">
        <label asp-for="Email" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
            <input asp-for="Email" class="form-control" id="inputEmail" placeholder="name@example.com">
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    @*Password*@
    <div class="row mb-3">
        <label asp-for="Password" class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-10">
            <input asp-for="Password" class="form-control" id="inputPassword" aria-describedby="passwordHelpBlock">
            <div id="passwordHelpBlock" class="form-text">
                Your password must be "description"
            </div>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>
    @*ConfirmPassword*@
    <div class="row mb-3">
        <label asp-for="ConfirmPassword" class="col-sm-2 col-form-label">Confirm Password</label>
        <div class="col-sm-10">
            <input asp-for="ConfirmPassword" class="form-control" id="inputPassword">
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
    </div>
    @*Roles*@
    <div class="row mb-4">
        <label asp-for="RoleSelected" class="col-sm-2 col-form-label">Role Selected</label>
        <div class="col-sm-10">
            <select asp-for="RoleSelected" asp-items="@Model.RoleList" class="form-control">
                <option value="">Choose a category...</option>
            </select>
            <span asp-validation-for="RoleSelected" class="text-danger"></span>
        </div>
    </div>
    @*Button*@
    <div class="form-group mb-3">        
        <button type="submit" class="btn btn-success">Register</button>
    </div>
    <p>
        <a asp-action="Login" type="button" class="btn btn-link">Already Registered? Login</a>
    </p>
</form>