@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@* Role *@
@if (User.Identity.IsAuthenticated)
{
    @if (User.IsInRole("Pokemon"))
    {
        <div class="text-center">
            <h1 class="display-6">Your role is pokemon</h1>
        </div>
    }
    else
    {
        <div class="text-center">
            <h1 class="display-6">Your role is trainer</h1>
        </div>
    }
}
